:root {
  --accent-color: #2196f3;
  --primary-color: #212121;
  --secondary-color: #757575;
  --third-color: #ffffff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--primary-color);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
}
/* ----------------------Оформление логотипа -----------------------*/
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-color {
  color: var(--accent-color);
}

/* ---------------------Оформление меню навигации ------------------*/
.menu-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}

.menu-nav .link:hover,
.menu-nav .link:focus {
  color: var(--accent-color);
}
.menu-nav .link.current {
  color: var(--accent-color);
}

/* ---------------- Оформление меню контактов--------------------- */
.menu-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.menu-contact:hover,
.menu-contact:focus {
  color: var(--accent-color);
}

/* --------------------Оформление раздела Hero ---------------------*/
.hero-head {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background-color: #2f303a;
  color: var(--third-color);
}

/*-------------------- Оформление кнопки "Заказать услугу" -----------------*/
.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background: #188ce8;
}

/*---------------- Оформление раздела "Особенности компании ---------------------*/
.features-head {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

/* --------------- Оформление раздела "Чем занимается компания" ---------------------------- */
.worklist {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* --------------- Оформление раздела "Команда компании" ---------------------------- */

.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

/* --------------- Оформление футера ---------------------------- */
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--third-color);
  background-color: #2f303a;
}

.address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-color);
  background-color: #2f303a;
}

.contact-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
}

.footer-address {
  font-style: inherit;
}

.footer-address .link:hover,
.footer-address .link:focus {
  color: var(--accent-color);
}

/* ------------------------ Портфолио --------------------------------- */

/* --------------- Оформление кнопок  Фильтр работ ---------------------------- */
.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--third-color);
}

/* --------------- Оформление галерея работ ---------------------------- */
.worklist-head {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color);
}

.worklist-desc {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
